@import "tailwindcss";

@layer base {
  h1, h2, h3, h4 {
    @apply font-serif font-bold;
  }

  body {
    @apply bg-gray-50 text-gray-800;
  }

  a {
    @apply text-indigo-600 hover:text-indigo-800 transition;
  }
}
